body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  scroll-behavior: smooth;
}
header {
  background-color: #005b96;
  color: white;
  padding: 20px 0;
  text-align: center;
}
header .logo {
  max-width: 150px;
  margin-bottom: 10px;
}
nav {
  background-color: #003f6b;
  padding: 10px 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline-block;
  margin: 0;
  transition: background-color 0.3s, color 0.3s;
}
nav ul li a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
nav ul li:hover {
  background-color: white;
}
nav ul li:hover a {
  color: #003f6b;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}
.hero {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  text-align: center;
  color: #005b96;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}
.hero h2 {
  margin: 0 0 20px;
  font-size: 2.5em;
}
.hero p {
  margin: 0 0 20px;
  font-size: 1.2em;
}
.cta {
  background-color: #007acc;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.cta:hover {
  background-color: #005b96;
}
.section {
  padding: 40px 0;
  transition: background-color 0.5s;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}
.section:nth-child(odd) {
  background-color: #f4f4f4;
}
.section:nth-child(even) {
  background-color: #e0e0e0;
}
.section h2 {
  margin-bottom: 20px;
  color: #005b96;
  text-align: center;
}
.area-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.area {
  flex: 1;
  min-width: 280px;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.area img {
  width: 50px;
  margin-bottom: 10px;
}
.area h3 {
  margin: 10px 0;
  color: #005b96;
}
.area p {
  margin: 10px 0;
  color: #666;
}
.area .btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}
.area .btn:hover {
  background-color: #005b96;
}
.area:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.map-container {
  width: 100%;
  height: 400px;
  margin: 20px 0;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}
footer p {
  margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .hero h2 {
      font-size: 2em;
  }
  .hero p {
      font-size: 1em;
  }
  nav ul li {
      display: block;
      margin: 0;
  }
  nav ul li a {
      padding: 10px;
  }
  .area-container {
      flex-direction: column;
      align-items: center;
  }
}

/* Animações */
@keyframes fadeIn {
  to {
      opacity: 1;
  }
}
@keyframes fadeInUp {
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
.whatsapp-float {
  position: fixed;
  top: 50%;
  right: 20px;
  transform:translateY(-50%);
  z-index: 1000;
}

.whatsapp-float img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.pulse {
  animation: pulse-animation 1s infinite;
}

@keyframes pulse-animation {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
.star {
  font-size: 1.2em;
  color: #ffcc00;
}
#avaliacoes .container {
  text-align: center;
}

#stars-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  font-size: 1.2em;
  color: #ffcc00;
  margin-right: 5px; /* Espaçamento entre as estrelas */
}

#average-rating {
  font-size: 1.2em;
  color: #777;
  margin-left: 10px; /* Espaçamento entre as estrelas e a nota */
}
.carousel {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden; /* Ocultar reviews fora da visualização */
}

.carousel-track {
  display: flex; /* Dispor as reviews em linha */
  transition: transform 0.5s ease-in-out; /* Suavizar a transição */
  will-change: transform;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button.prev:hover, button.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.review {
  text-align: center;
  margin: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.review img.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.review .rating {
  color: #ffcc00;
}
.swiper-container {
  width: 95%;
  padding: 20px 0;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}
</style>
